body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 1800px;
    background: black;
}
/* Comeco da introducao do site */

@media (min-width: 399px) and (max-width: 900px){
    

    body{
        width: 1400px;
    }
    /*Comeco da introducao do site*/
    .logo{
        margin-left: 650px !important;
    }
    .info{
        margin: -600px 990px -170px !important;
        margin-right: 10px !important; 
        font-size: 25px;
        margin-left: 850px !important;
    }
    
    .onde img{
        margin-left: -250px !important;
    }
    /*Final da introducao do site*/
    
    /*Comeco da sinopse do site*/
    .sinopse {
        margin-bottom: 10px !important;
        max-width: 400em;
        margin-left: 215px !important; 
        height:800px !important;
        }
    .tituloSinopse{
        padding: auto;
        margin-left: 370px !important;
        font-size: 195%;
    }  
    .textoSinopse{
        font-size: 195%;
        padding: 300px;
        margin-left: -200px;
        margin-right: -180px;
        text-align: center;
        margin-top: -300px;
        text-overflow: auto;
    }
    /*Final da sinopse do site*/

    /*Comeco dos slides de curiosidades*/
    .content {
        margin-left: 500px !important; 
        font-size: 195%;
        height:800px !important;
        margin-top: 700px !important;
    }
    .navigation {
        position: absolute;
        bottom: 22px;
        left: 50%;
        transform: translate(-50%);
        display: flex;
    }
    .curiosidade{
        padding: auto;
        margin-left: 310px !important;
    }
    
    .curiosidadetxt{ 
        padding: 200px !important;
        margin-left: -200px;
        margin-right: -180px;
        text-align: center;
        margin-top: -350px;
        text-overflow: auto;
    }
    /*Final dos slides de curiosidades*/

    /*Comeco dos slides do elenco*/
    .content1 {
        font-size: 195%;
        height: 700px !important;
        width: 1300px !important;
        border-radius: 20px;
        overflow: hidden;
        position: absolute;
        margin-top: 1000px !important;
        margin-left: 500px !important; 
    }
    .elenco{
        margin-top: -385px;
        margin-left: 550px;
    
    }
    
    .elencotxt{
        width: 600px !important;
        padding: 300px;
        margin-left: 250px !important;
        text-align: justify;
        margin-top: -400px !important;
        margin-bottom: -400px !important;
       
    }
    
    .link1{
        display: flex !important;
        margin-top: -140px !important;
        margin-left: -360px !important;
        z-index: 10 !important;
    }
    .links{
        display: none;
    }


    .slide img {
        margin-top: 100px !important;
        border-radius: 5px !important;
        height: 900px !important;
    }
    /*Final dos slides do elenco*/    
    

    
}

.onde{
    margin: -190px 160px;
    padding: 200px;
    height: 500px;
    width: 500px;
    
}

.info{
    margin: -700px 1170px -60px;
    margin-right: 10px; 
}

.onde img{
    margin-top: -20px;
    max-width: 700px;
    max-height: 700px;
    margin-left: -110px;
    border-radius: 5px;
}

/* final da introducao do site */

.sinopse {
    margin-top: 600px;
    margin-left: auto;
    margin-right: auto; 
    width:1000px;
    height:400px;
    background: #333333; 
    border-radius: 5px;
    }

.tituloSinopse{
    padding: auto;
    margin-left: 425px;

}

.textoSinopse{
    
    padding: 300px;
    margin-left: -200px;
    margin-right: -180px;
    text-align: center;
    margin-top: -300px;
    text-overflow: auto;
}

/* Comeco do CSS dos slides das curiosidades*/
.content {
    height: 520px;
    width: 1000px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 190%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar {
    width: 70px;
    height: 17px;
    border: 2px solid #ffff;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .6s;
}

.bar:hover {
    background-color: #ffff;
}

input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: .6s;
    
}

.slide img {
    margin-top: 800px;
    margin-left: auto;
    margin-right: auto; 
    width:1000px;
    height:400px;
    background: #333333; 
    border-radius: 5px;
}

.curiosidade{
    padding: auto;
    margin-left: 425px;
}

.curiosidadetxt{

    padding: 300px;
    margin-left: -200px;
    margin-right: -180px;
    text-align: center;
    margin-top: -350px;
    text-overflow: auto;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~ .s1 {
    margin-left: -20%;
}

#slide3:checked ~ .s1 {
    margin-left: -40%;
}

#slide4:checked ~ .s1 {
    margin-left: -60%;
}

#slide5:checked ~ .s1 {
    margin-left: -80%;
}
/* Final do CSS dos slides das curiosidades*/

/* Comeco do CSS dos slides do elenco*/
.content1 {
    height: 520px;
    width: 1000px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 280%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigationelenco {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.barelenco {
    width: 60px;
    height: 17px;
    border: 2px solid #ffff;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .6s;
}

.barelenco:hover {
    background-color: #ffff;
}

input {
    display: none;
}

.slideselenco {
    display: flex;
    width: 500%;
    height: 100%;
}

.slideelenco {
    width: 20%;
    transition: .6s;
    
}

.slideelenco img {
    margin-top: -40px;
    width: 40%;
    height: 450px;
    border-radius: 10px;
}

.elenco{
    margin-top: -385px;
    margin-left: 550px;

}

.elencotxt{

    width: 400px;
    padding: 300px;
    margin-left: 150px;
    text-align: justify;
    margin-top: -300px;
   
}

.link{
    color: rgb(220,20,60);
}
.links{
    color: rgb(220,20,60);
}

#slide1elenco:checked ~ .s1 {
    margin-left: 0;
}

#slide2elenco:checked ~ .s1 {
    margin-left: -20%;
}

#slide3elenco:checked ~ .s1 {
    margin-left: -40%;
}

#slide4elenco:checked ~ .s1 {
    margin-left: -60%;
}

#slide5elenco:checked ~ .s1 {
    margin-left: -80%;
}

#slide6elenco:checked ~ .s1 {
    margin-left: -100%;
}
#slide7elenco:checked ~ .s1 {
    margin-left: -120%;
}
#slide8elenco:checked ~ .s1 {
    margin-left: -140%;
}
#slide9elenco:checked ~ .s1 {
    margin-left: -160%;
}
#slide10elenco:checked ~ .s1 {
    margin-left: -180%;
}
#slide11elenco:checked ~ .s1 {
    margin-left: -200%;
}
#slide12elenco:checked ~ .s1 {
    margin-left: -220%;
}
#slide13elenco:checked ~ .s1 {
    margin-left: -240%;
}
/* Final do CSS dos slides do elenco*/